<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="../../assets/images/logo.png" alt="" />
      <span class="fs-4 pl-2">Rock, Paper, Scissors</span>
    </a>
    <ul class="nav nav-pills text-md-start">
      <li class="nav-item">
        <a href="#" class="nav-link active" routerLink="/game" aria-current="page">New Game</a>
      </li>
      <li class="nav-item"><a routerLink="/rules" class="nav-link">Rules</a></li>
      <li class="nav-item"><a href="https://github.com/marishka1997/rock-paper-scissors" class="nav-link">Code</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/mariam-gasparian-95a96222a" class="nav-link">About me</a></li>
    </ul>
  </header>
</div>


