<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary fs-6">&copy; Copyright {{year}}</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/marishka1997"><img src="../../assets/images/github-icon.png" alt="github" width="24" height="24" ></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/mariamgasparyan97"><img src="../../assets/images/facebook-icon.png" alt="facebook" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/mariam-gasparian-95a96222a"><img src="../../assets/images/linkedin-icon.png" alt="linkedin" width="24" height="24" ></a></li>
    </ul>
  </footer>
</div>
