<div class="upper-container d-flex justify-content-center align-items-center">
<img class="rules mx-auto d-block" src="/assets/images/rules.png">
</div>
<div class="lower-container d-flex justify-content-center align-items-center">
  <ul class="rules-block d-flex flex-column justify-content-center align-items-center mt-3">
<li><strong>Rock beats scissors</strong> (rock crushes scissors).</li>
<li><strong>Scissors beats paper</strong> (scissors cut paper).</li>
<li><strong>Paper beats rock</strong> (paper covers rock).</li>
<li>If both players show the same hand shape, it's a <strong>draw</strong>, and the round is replayed.</li>
  </ul>
  </div>
